/* Styles for the login button */
#loginButton {
    background-color: #1DB954; /* Spotify green color */
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#loginButton:hover {
    background-color: #1AA34A; /* A slightly darker green for hover effect */
}

#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;  /* Adjusts the height */
    gap: 20px;
    justify-content: flex-start; /* Changes from center to start */
    padding-top: 10%; /* Adds a top padding to move the content up */
}

input:-webkit-autofill {
    border: 1px solid #ccc;  /* You can adjust to your preferred border style */
    -webkit-text-fill-color: currentColor;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}