#search-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}

#searchInput {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#searchResults {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 10;
    display: none;  /* Initially hidden */
    display: block;
}

#searchResults div {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#searchResults div:last-child {
    border-bottom: none;
}

#searchResults div:hover {
    background-color: #f6f6f6;
}

#logo {
    width: 20px;  /* Adjust this value to your liking. I've set it to 80 pixels, which should be about 1/5 of its original size. */
    height: auto; /* This ensures that the aspect ratio of the image is maintained. */
}

