#webPlayer {
    display: none; /* Initially hidden */
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.playerControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.playerControls button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1DB954; /* Spotify green color */
    transition: color 0.3s;
}

.playerControls button:hover {
    color: #1AA34A; /* A slightly darker green for hover effect */
}

.nowPlaying {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

#trackName {
    font-weight: 600;
}

#currentImage {
    margin-top: 50px;
    width: 300px;  /* Adjust to your desired width */
    height: 300px; /* Adjust to your desired height */
    object-fit: cover;  /* Keeps the aspect ratio of the image intact */
    border-radius: 5px;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

#currentTitle {
    font-size: 32px; /* Change the value to your desired size */
    font-family: 'Arial', sans-serif; /* Change the font family to your desired font */
    font-weight: bold;
    color: #333; /* Change the color if needed */
    text-align: center; /* Optional: center aligns the text */
    margin-bottom: 20px; /* Optional: provides some space below the title */
  }
